  @model <%= htmlWebpackPlugin.options.title || 'IPageModel'%>
  @{ Layout = null; }
  <!DOCTYPE html>
  <html lang="zh-cn" class="borderbox">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Model.Title</title>
    <!--[if lt IE 9]>
  <link href="/Viewts-yiban-style/nosupport/nosupport.css" rel="stylesheet" />
  <![endif]-->
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>

  <body class='@(Model.IsHome?"": "NoHome")'>
    <template id="app"></template>
    <div class="upgrad-tips" id="upgradepage" style="display: none">
      <div class="qq_conent">
        <div class="nt-pic"></div>
        <div class="nt-txt">
          为了您的最佳体验，我们于即日起停止对IE8及以下版本浏览器的支持请您升级IE或使用其他浏览器， 如果您的使用的是双核浏览器(搜狗，360，QQ)，请切换到极速模式访问
        </div>
        <div class="nt-link">
          <a class="icon-ie" title="更新ie浏览器" href="//support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads">
            <i></i>升级IE</a>&nbsp;
          <a class="icon-chrome" title="下载chrome(谷歌)浏览器" href="//www.google.cn/chrome/">
            <i></i>下载Chrome(谷歌)</a>
        </div>
      </div>
    </div>
    <script>
      if (!!Array.prototype.map == false) {
        document.getElementById('upgradepage').style.display = 'block'
      }
    </script>
    @Html.Partial("_SiteInfoPartial", Model)
    <script src="/Scripts/sticky.min.js"></script>
    <% if(htmlWebpackPlugin.options.title=='yibanIndexViewModel'){ %>
    <script>
      var _newstype = @{ WriteLiteral(JsonHelper<List<HK_SystemClass>>.WriteObjectFormat(Model.yibanSite.ToList()));};
      _newstype.map(function (item) {
        item.articles = [];
      })
    </script>
    <% } %>
    <% if(htmlWebpackPlugin.options.title=='yibanInfoViewModel'){ %>
    <script>
      var _article = @{ WriteLiteral(JsonHelper<HK_Article>.WriteObjectFormat(Model.Article));}
    </script>
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" type="text/javascript"></script>
    <% } %>
  </body>

  </html>